body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-principal {
  color: rgb(26, 5, 46);
  font-style: italic;
  font-size: 40px;
}

.font-titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.primeiro-titulo-secundario {
  color: rgb(26, 5, 46);
  font-style: italic;
  font-size: 35px;
}

.segundo-titulo-secundario {
  color: rgb(26, 5, 46);
  font-size: 50px;
  font-style: italic;
}

.titulo-secundario {
  text-align: center;
}
